* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: #ffffff;
    --Light-pink: #f9f0ff;
    --Grayish-purple: #8c6991;
    --Dark-purple: #2f1533;
}

body {
    background-color: var(--Light-pink);
    background-image: url("../img/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Work Sans", sans-serif;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}